

<%= Settings.canaltirant.map{|c| "<a style=\"color: #671314; font-family: Arial, Helvetica, sans-serif; text-decoration: none\" href=\"#{c.url}\" target=\"_blank\">#{I18n.t('canaltirant.'+c.code)}</a>" }.join(' &middot; ').html_safe %>
